:root {
  --p: #263238;
  --p-light: #4f5b62;
  --p-dark: #000a12;

  --s: #b2ebf2;
  --s-light: #e5ffff;
  --s-dark: #81b9bf;

}
.App {
  background-color: var(--p-dark);
  height: 100vh;
}
header {
  background: var(--p-dark);
  color: white;
  padding: 1em;
}
button.home {
  background: var(--s-dark);
}
button.home:hover {
  background: var(--s);
  color: #000000;
}
input.home {
  margin-top: 10px;
}
p.home {
  text-align: center;
  line-height: 2em;
  color: var(--s-dark);
  margin: 0;
}

/* Room styles */
button.room {
  background-color: var(--s-dark);
}
button.room:hover {
  background-color: var(--s);
  color: #000
}






.message-container-wrapper {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.message-container-wrapper::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

div.message {
  background: var(--p-dark);
  color: #fff;
  padding: 0.5em;
  display: flex;
}
div.message:nth-child(odd) {
  background: var(--p);
}
.message-timestamp {
  text-align: left;
  display: inline;
}

#youtube-queue-input {
  height: 2em;
}