:root {
  --p: #263238;
  --p-light: #4f5b62;
  --p-dark: #000a12;

  --s: #b2ebf2;
  --s-light: #e5ffff;
  --s-dark: #81b9bf;

}

main {
  flex: 1;
}

.App {
  background-color: var(--p-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  color: var(--s-light);
  padding: 1em;
}
header > h1 {
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}


.home-parent {
  position: relative;
  height: 50vh;
}
.home-child {
  width: 300px;
  height: 200px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  /* margin: -70px 0 0 -170px; */
  margin: -70px 0 0 -150px;
}


button.home {
  background: var(--s-dark);
}
button.home:hover {
  background: var(--s);
  color: #000000;
}
input.home {
  margin-top: 10px;
}
p.home {
  text-align: center;
  line-height: 2em;
  color: var(--s-dark);
  margin: 0;
}

/* Room styles */
button.room {
  background-color: var(--s-dark);
}
button.room:hover {
  background-color: var(--s);
  color: #000
}

.tab-link-parent {
  color: var(--s);
}
.tab-link-parent:active {
  border: none;

}
.tab-link {
  color: var(--s);
  font-weight: 100;
}

.tab-link:hover, .tab-link:active {
  color: var(--s-dark);
  border: none;
}

.tab-link.active {
  font-weight: 400;
  border: none;
}

.room-text {
  color: var(--s-light);
  padding-left: 1em;
  font-size: 0.9em;
}
.room-number:hover {
  text-decoration: underline;
  cursor: pointer;
}



.message-container-wrapper {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.message-container-wrapper::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.message-container {
  min-height: 300px;
  max-height: 500px;
  overflow-y: scroll;
}
div.message {
  background: var(--p-dark);
  color: #fff;
  padding: 0.25em 0.5em;
  display: flex;
}
div.message:nth-child(odd) {
  background: var(--p);
}

.message-user-id {
  font-size: 0.75em;
  font-weight: 500;
}
.message-timestamp {
  font-size:0.6em;
  font-weight: 100;
  text-align: left;
  display: inline;
}
.message-text {
  font-weight: 100;
  font-size: 1em;
}

/* VideoQueue.js */

.youtube-queue-container {
  min-height: 300px;
  max-height: 500px;
  overflow-y: scroll;
}
#youtube-queue-input, #chatbox-input {
  height: 2em;
}
.queue-element-container {
  display: flex;
  padding: 0px;
}
.queue-element-container:hover {
  background: var(--p);
  cursor: pointer;
}
.queue-element-index {
  padding: 30px 10px;
}
.queue-element-thumbnail {
  padding: 5px 0;
  width: 120px;
}
.queue-element-info {
  padding: 7px 1em 0 1em;
  font-weight: 100;
}
.queue-element-title {
  font-size: 0.9em;
  font-weight: 100;
}
.queue-element-channel {
  font-size: 0.8em;
  font-weight: 300;
}
/***************/

/* YoutubePlayer.js */
.youtube-player-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.youtube-player-skeleton {
  color: var(--s-light);
  padding: 2em;
}

/***************/

/* Footer.js */
footer#app-footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  /* padding: 2em 10em 2em 0.5em; */
  padding: 2em;
  color: var(--s-light);
}

.footer-section {
  padding: 1em;
  font-size: 0.9em;
  font-weight: 100;
}

.footer-section-header {
  font-size: 1em;
  font-weight: 400;
}

.footer-link {
  color: var(--s-dark);
}
.footer-link:hover {
  color: var(--s)
}